.fullscreen-bg__video {
		position: fixed; 
		top: 0;
		left: 0;
		min-width: 100%; 
		min-height: 100%;
		z-index: -1;
}
.matrix {
	position: fixed; 
	top: 0;
	left: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -1

}



h1  {
	text-align: center;	font-size: 70px ; color:white;
	}

h2  {
		text-align: left;	font-size: 30px; color: white; font-size:x-large ; color: red;
	}



p 	{
	color: white; font-size: 25px;
    font-family: Arial, Helvetica, sans-serif
	text-indent: 3ch;
  	}

#frase {
	font-size: 25px
}

em strong {
	color: midnightblue;
		}

.itens{
font-style: italic; font-size: x-large;

}

.texto {
background:black;
		}

.texto2 {
background:black;
		}

.texto3 {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
		}

.box {
box-sizing: border-box;
padding: 1rem;
margin: 1rem;
background-color:dimgray;
width: calc((40%) - 2rem);
		}

.texto3.2 {
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content:picture-in-picture
		}

.box2 {
box-sizing: border-box;
padding: 1rem;
margin:  1rem;
background-color:rgb(194, 33, 33);
width: calc((60%) - 8rem);
	}

.teste {
	display: inline-block;
}	


.texto4 {
background:black;
		}		

.texto5 {
background:black;
		}

.texto6 {
background:black;
		}

.texto7 {
background:black;
		}

.texto8 {
background:black;
		}
			


				

