.fullscreen-bg__video {
		position: fixed; 
		top: 0;
		left: 0;
		min-width: 100%; 
		min-height: 100%;
		z-index: -1;
}


h1  {
	text-align: center;	font-size: 35px; color: white;
	}

p 	{
	text-align: center; color: white; font-size: 30px;
  	}

#frase {
	font-size: 25px
}

em strong {
	color: midnightblue;
		}

.itens{
font-style: italic; font-size: x-large;

}

